@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@600&display=swap");

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  background: linear-gradient(180deg, #ffffff 0%, #ffffff 80%);
  font-family: Helvetica, sans-serif;
}

body {
  position: fixed;
  overflow: auto;
  overscroll-behavior-y: none;
  font-family: "Helvetica", sans-serif;
  cursor: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTMwLjUgMTZDMzAuNSAyNC4wMDgxIDI0LjAwODEgMzAuNSAxNiAzMC41QzcuOTkxODcgMzAuNSAxLjUgMjQuMDA4MSAxLjUgMTZDMS41IDcuOTkxODcgNy45OTE4NyAxLjUgMTYgMS41QzI0LjAwODEgMS41IDMwLjUgNy45OTE4NyAzMC41IDE2WiIgc3Ryb2tlPSJibGFjayIvPgo8cGF0aCBkPSJNNiA5QzcuNjU2ODUgOSA5IDcuNjU2ODUgOSA2QzkgNC4zNDMxNSA3LjY1Njg1IDMgNiAzQzQuMzQzMTUgMyAzIDQuMzQzMTUgMyA2QzMgNy42NTY4NSA0LjM0MzE1IDkgNiA5WiIgZmlsbD0iYmxhY2siLz4KPC9zdmc+Cg=="),
    auto;

}

p {
  margin: 0;
  padding: 0;
}

a {
  padding-right: 10px;
  cursor: url('https://www.svgrepo.com/show/403021/black-circle.svg');
  pointer-events: all;
  color: black;
  text-decoration: none;
  /* no underline */
}

@media screen and (max-width: 568px) {
  .full {
    visibility: hidden;
    display: none;
  }
}


.trending-coins {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.trending-single {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 6rem;
  /* border: 1px solid black; */
  /* border-bottom: 1px solid black; */
  margin-left: 2rem;
  padding: 0 1rem 0 1rem;
  justify-content: center;
}

.trending-img img {
  width: 80px;
  height: 80px;
}

.trending-img {
  width: 3rem;
}

.trending-name {
  width: 20rem;
  position: relative;
  right: 10rem;
}

.navbar {
  background-color: rgb(255, 255, 255);
  height: 3rem;
  display: flex;
  align-items: center;
  margin-top: 1.4rem;
  margin-bottom: 1.8rem;
  padding-left: 2.3rem;
  padding-right: 2rem;
}

.navbar-left {
  position: relative;
  top: 0.3rem;
}

.navbar-right {
  margin-left: auto;
  font-family: Helvetica, sans-serif;
  font-weight: 800;
  font-size: 1rem;
}

.navbar-center {
  position: relative;
  left: 26%;
}

.searchbar {
  border: none;
  border-bottom: 1px black solid;
  width: 24rem;
  text-align: center;
  font-size: 1.3rem;
  color: black;
  outline: none;
  position: relative;
  right: 4rem;
}

.auth-form {
  border: none;
  border-bottom: 1px black solid;
  width: 24rem;
  text-align: left;
  font-size: 1.3rem;
  color: black;
  outline: none;
  position: relative;
  right: 4rem;
}

input:-internal-autofill-selected {
  appearance: menulist-button !important;
  background-image: none !important;
  background-color: none !important;
  color: fieldtext !important;
}

.button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin: 1.5rem 3rem;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid black;
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}

.form {
  padding: 0 7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 4rem;
}

.line {
  border-bottom: 2px solid black;
  background-color: color;
  width: 100%;
  margin-bottom: 1rem;
}

.line-list {
  border-bottom: 1px solid black;
  background-color: color;
  width: 100%;
  margin-top: 1rem;
}

.line-nav {
  border-bottom: 2px solid black;
  background-color: color;
  width: 100%;
  margin-top: 1rem;
}
.line-footer {
  border-bottom: 2px solid black;
  background-color: color;
  width: 100%;
  /* margin-top: 1rem; */
}

.heading {
  margin-left: 3rem;
  font-weight: 200;
  font-size: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.subheading2 {
  margin-left: 3rem;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 0.6rem;
}

.subheading {
  font-weight: 200;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

}

.trending-name h2 {
  text-align: left;
  font-size: 2rem;
  font-weight: 600;
}

.prices {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: left;
}

::placeholder {
  color: rgb(29, 29, 29);
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  line-height: 10px;
  
}  

.recharts-wrapper {
  width: 100% !important;
  margin-left: 1rem;
  margin-top: 2rem;

}

/* .recharts-surface {
  width: 100%;
}

.recharts-cartesian-grid-horizontal {
  width: 500px;
} */


.coin-data {
  margin: 4rem;
  /* margin-top: 5rem; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  line-height: 0.5rem;
  font-family: Helvetica, sans-serif;
}

.coin-data p {
  font-weight: 300;
  font-size: 1.3rem;
}

.coin-data h3 {
  font-weight: 500;
  font-size: 1.7rem;
}

.currency-span {
  font-weight: 500;
}

.pfp {
  width: 40%;
  border-radius: 50;
  margin: 0 0 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pfp img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  object-fit: contain;
  object-position: center;
  /* Set maximum dimensions */
  max-width: 250px;
  max-height: 250px;
}

.profile-text {
  font-weight: 600;
  margin: 6rem 0 4rem 3rem;
  line-height: 0.6rem;
}

.under-form {
  font-weight: 200;
  margin-left: 3rem;
  line-height: 1rem;
}

.under-form span{
  font-weight: 400;
  cursor: pointer;
}

.errormsg{
  font-weight: 200;
  margin-left: 3rem;
  line-height: 1rem;
  color: rgb(152, 0, 0);
}

.footer {
  width: 100%;
  /* position: absolute;
  bottom: 0; */
  background-color: white;
}

.footer p {
  font-weight: 300;
  margin: 1rem 2rem;
}

.margin-bottom {
  margin-bottom: 11rem;
}

.margin-bottom2 {
  margin-bottom: 17rem;
}


a {
  cursor: pointer;
  pointer-events: all;
}

input::file-selector-button {
  font-weight: bold;
  color: rgb(0, 0, 0);
  padding: 0.5em;
  border: none;
  border-radius: 3px;
  background-color: white;
  cursor: pointer;
  align-self: center;
  margin-left: 2rem;
}

.profile {
  display: flex;
  flex-direction: row;
}


.form-profile {
  padding: 0 0rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: flex-start;
  line-height: 4rem;
  margin-left: 3rem;
  padding-right: 3rem;
}

.form-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.auth-form-profile {
  border: none;
  border-bottom: 1px black solid;
  width: 22rem;
  text-align: left;
  font-size: 1.3rem;
  color: black;
  outline: none;
  /* position: relative; */
  /* right: 4rem; */
}


.button-edit {
  background: none;
  color: inherit;
  width: 4rem;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin: 0;
  margin-top: 1.7rem;
  border-bottom: 1px solid black;
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2rem;
}